<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Chris Demeropolis likes writing stories about subjects that entertain and amuse her children. With an
interest in writing since she could pick up a pen, she earned a bachelor&#39;s degree in Journalism from Ohio
University.</p>
      </div>
      <div class="col-lg-4">
        <p>Chris is a seasoned storyteller, spending the first half of her writing career as a PR professional for well-known brands. She lives in Kentucky with her husband, two sons and cat.</p>
      </div>
    </div>
  </div>
</section>
